body {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 16px;
}

.content-wrap {
    width: 70vw;
    max-width: 990px;
    text-align: left;
    display: block;
    margin: 0 auto;
    padding: 40px 20px;
}

.page-heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
}

.padding-bottom-xl {
    padding-bottom: 50px;
}

.padding-bottom-lg {
    padding-bottom: 40px;
    padding-top: 40px;
}

.padding-lg {
    padding-bottom: 40px;
    padding-top: 40px;
}

.padding-top-md {
    padding-top: 25px;
}
.padding-bottom-med {
    padding-bottom: 25px;
}

.padding-bottom-sm {
    padding-bottom: 10px;
}

.padding-top-sm {
    padding-top: 10px;
}

.no-padding {
  padding: 0 !important;
}

.centered {
    text-align: center;
}

.ce-blue {
    color: #0079C1;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #40A2E7;
    border: 2px solid #40A2E7;
}
.nav-pills .nav-link {
    border-radius: 0 !important;
    border: 2px solid #ACACAC;
}

.nav-item {
  width: 50%;
  text-align: center;

}

ul.tabs {
    width: 100%;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

ul.tabs li.menu-item {
    color: #ADADAD;
    display: block;
    text-align: center;
    width: 33%;
    cursor: pointer;
    padding: 0 .7rem;
}

ul li.menu-item svg {
    fill: #ADADAD;
    pointer-events: none;
}

ul li.menu-item h6 {
    font-size: 14px;
    pointer-events: none;
}

ul li.menu-item:hover svg,
ul li.menu-item:active svg {
    fill: #2DA5EC;
}

ul li.menu-item:hover,
ul li.menu-item:active {
    color: #2DA5EC;
    display: inline-block;
    text-align: center;
    width: 33%;
    border-bottom: 2px solid #2DA5EC;
}

ul li.menu-item--selected {
    color: #2DA5EC;
    border-bottom: 2px solid #2DA5EC;
}

ul li.menu-item--selected svg {
    fill: #2DA5EC;
}

.bill-wrapper {
    background: #ffffff;
    padding: 10px;
    display: none;
    margin: 10px;
}

.bill-wrapper--active {
    display: block;
}

/* .bill-paper {
    display: none;
} */

.bill-paper__front, .bill-paper__back {
  background: #ffffff;
  border: 1px solid #dedede;
  padding: 0;
  margin: 0 auto;
  position: relative;
}

/* .bill-paper--active {
    display: block;
} */

.section {
  position: relative;
}
svg {
    width: 100%;
}

img {
  width: 100%;
}


.top-layer {
    z-index: 111111111 !important;
}

.center-icon {
    text-align: center;
}

button {
  background: #639D36;
  color: #ffffff;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  transition: ease-in-out all 200ms;
}

button.round {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #FFC425;
  color: #232323;
  box-shadow: 3px 4px 5px rgba(0,0,0,0.3);
  font-size: 24px;
}

button.round:hover {
  background: #F3AE00;
  color: #232323;
}
button.close {
  background: transparent !important;
  box-shadow: none !important;
}
button:hover {
    background: #9ED872;
    color: #ffffff;
    box-shadow: 1px 2px 8px rgba(0,0,0,0.4);
}
.modal {
  top: 25% !important;
}

.hide {
  display: none;
}
.no-pad__mobile {
      padding: 0 !important;
}

/*FAB positioning*/
.total-electric-use {
  position: absolute;
  top: 30%;
  left: 10px;
}
.electric-monthly-energy-summary {
  position: absolute;
  top: 40%;
  right: 10px;
}
.electric-payment-coupon {
  position: absolute;
  top: 80%;
  right: 10px;
}
.electric-account-info {
  position: absolute;
  top: 19%;
  left: 10px;
}
.electric-monthly-charges-details {
  position: absolute;
  top: 20%;
  right: 10px;
}
.electric-rate-info {
  position: absolute;
  top: 35%;
  left: 10px;
}

/*Media Queries*/
@media screen and (min-width: 1024px) {
  .bill-wrapper {
      background: #efefef;
  }
}
